/* ~/.config/waybar/style-dark.css — Solarized Dark */

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #002b36;
    color: #839496;
    border-bottom: 2px solid #073642;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: #839496;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    color: #268bd2;
    border-bottom: 2px solid #268bd2;
}

#workspaces button.urgent {
    color: #dc322f;
    border-bottom: 2px solid #dc322f;
}

#clock,
#network,
#battery,
#pulseaudio,
#custom-weather,
#tray,
#mode {
    padding: 0 10px;
    margin: 3px 2px;
    background-color: #073642;
    border-radius: 6px;
    color: #839496;
}

#battery.warning {
    color: #b58900;
}

#battery.critical {
    color: #dc322f;
}

#network.disconnected {
    color: #dc322f;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #dc322f;
}
